@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
span,
input,
button,
li,
a {
    font-family: 'Dosis', sans-serif;
    color: #202020;
}

.list {
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 10px;
}

.home,
.list,
.cart {
    margin-top: 70px;
}